{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}

{% set mainClasses = "app-main-wrapper" %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  <header class="govuk-header " role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="header-container">
        <h1 class="govuk-header__service-name">{{ serviceName }}</h1> 
        <h3>{{userName}} | <a href="/signout" class="govuk-link govuk-link--inverse govuk-!-margin-top-1">Sign out</a></h3>
        <h3>{{userRole}} | {{userEmail}}</h3>
        <p class="govuk" style="color: white; margin-top: 20px;"> </p>
      </div>
    </div>
  </header>
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  <hr />
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
